<h1>Invite List</h1>

<% @invites.each do |invite| %>
  <div>
    <ul>
      <li><h3><%= link_to "#{invite.party.name}", party_path(invite.party) %> 
      - <%= invite.party.description %> 
      - Hosted by : <%= link_to "#{invite.party.host.name}", host_path(invite.party.host) %></h3></li>
    </ul>
  </div>
<% end %>