<h1>New Host</h1>
<p>Please fill out the form below to complete the sign up process.</p>

<%= form_with(model: @host, local: true) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>

<%= f.submit "Creat an account as a host" %>
<% end %>
